<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <ul class="nav ">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Action</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/calculate-age">Calculate age</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="#">Unknown</a>
            </div>
        </li>
    </ul>
</nav>